<table>
  <tr>
    <th>Server</th>
    <th>Port</th>
    <th>Status</th>
    <th>Uptime Seconds</th>
    <th>Proxying Count</th>
    <th>Processing Count</th>
    <th>Processed Count</th>
    <th>Processed Time Seconds</th>
    <th>Current Queue Length</th>
    <th>Queue Timeout Errors</th>
    <th>Max Queue Length Errors</th>
    <th>Memory Used MB</th>
    <th>GC Time Seconds</th>
    <th>Edge Version</th>
  </tr>
  <tr>
    <td>http://73.181.185.52</td>
    <td>8000</td>
    <td style="background-color: palegreen; text-align: center;">OK</td>
    <td style="text-align: right;">782</td>
    <td style="text-align: right;">0</td>
    <td style="text-align: right;">0</td>
    <td style="text-align: right;">0</td>
    <td style="text-align: right;">0</td>
    <td style="text-align: right;">0</td>
    <td style="text-align: right;">0</td>
    <td style="text-align: right;">0</td>
    <td style="text-align: right;">123</td>
    <td style="text-align: right;">0</td>
    <td style="text-align: center;">&nbsp;3.32.2&nbsp;</td>
  </tr>
</table>