<div class="row">
  <div class="col-md-2">Status:</div>
  <div class="col-md-10"><%= @report_status %></div>
<!--  <div class="col-md-2">Uptime (hours):</div>-->
<!--  <div class="col-md-10"><%#= (@mmo_status['uptimeSeconds'] / 3600) %></div>-->
<!--  <div class="col-md-2">On Deck (Queue):</div>-->
<!--  <div class="col-md-10"><%#= @mmo_status['currentQueueLength'] %></div>-->
<!--  <div class="col-md-2">Currently Processing:</div>-->
<!--  <div class="col-md-10"><%#= @mmo_status['processingCount'] %></div>-->
</div>