<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1>Demonsional!</h1>
      <h2>Demo like it's your job</h2>
      <h3>First you need to self register</h3>
      <h4>Next you can setup your data</h4>
      <h5>Finally you can create your demo environment</h5>
      <p>
        What does creating your demo environment do? It will create a wondrous environment that allows you to tell a
        compelling story of value.
      </p>
    </div>
    <div class="col">
      <h1>Dashboard</h1>
      <h2>Current Shipping Orders: <%= current_user.shipping_orders.count %></h2>
      <h2>Current Enterprises: <%= current_user.enterprises.count %></h2>
      <% if current_user.cust_acct.blank? %>
        <h2>Parent Enterprise: <%= link_to 'Configuration Needed', "users/edit" %></h2>
      <% else %>
        <h2>Parent Enterprise: <%= link_to current_user.cust_acct, "users/edit" %></h2>
      <% end %>
    </div>
  </div>

</div>
<h2>MMO in the cloud status</h2>
<iframe src="http://67.168.190.102:8000/serverstatus/html/myTok3141" width="1500" height="200"></iframe>