<tbody>
<tr>
  <td>
    <%= contract.contract_name %>
  </td>

  <td>
    <%= link_to 'Edit', edit_contract_path(contract) %>
  </td>
  <td>
    <%= button_to 'Destroy', contract, method: :delete, data: { confirm: 'Are you sure?' } %>
  </td>
</tr>
</tbody>