<h1>Contract</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Rate Table</th>
      <th>Effective Date</th>
      <th>Expiration Date</th>
      <th>Type</th>
    </tr>
  </thead>
  <%= render @contracts %>
</table>

<%= link_to 'New Contract', new_contract_path %>
<br>
<%= link_to 'Create Base Contract', create_base_contracts_path %>
