<div class="container-fluid">
  <h3>Enterprise Import Page</h3>
  <p>
    Make sure your file is a CSV format.  So commas need to separate the columns in the spreadsheet.  You can download an
    example <%= link_to 'here', "#" %>.</p>

  <%= form_tag import_enterprises_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import" %>
  <% end %>
  <br>
</div>